<% extend('layouts/app') %>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Welcome to the Blog</h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <% for(i=0;i<6;i++){ %> 
                <div class="col-lg-4 col-12">
                    <div class="blog-post mt-3">
                        <div class="image-post">
                            <img class="img-fluid rounded-3" src="https://preview.colorlib.com/theme/magdesign/images/ximg_2.jpg.pagespeed.ic.fbbBEgB1Q6.webp" alt="" srcset="">
                            <div class="bg-dark top-right px-2 py-1">
                                <div class="text-white">Member Only</div>
                            </div>
                        </div>                        
                        <div class="blog-creator mt-3 row">
                            <div class="col-12 d-flex justify-content-between">
                                <div class="">
                                    <img class="img-fluid rounded-circle" src="https://preview.colorlib.com/theme/magdesign/images/ximg_2.jpg.pagespeed.ic.fbbBEgB1Q6.webp" alt="" >
                                    <span>John Doe</span>
                                </div>
                                <div>
                                    
                                    <span class="mx-1">
                                        <i class="bi bi-chat"></i> 0
                                    </span>
                                    <span class="mx-1">
                                        <i class="bi bi-heart"></i> 0
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <h6 class="mt-0">Bussiness
                            <span class="dot">.</span>
                            <span>July 2, 2020</span>
                            <span class="dot">.</span>
                            <span>10 min read</span>
                        </h6>
                        <h5>Your most unhappy customers are your greatest source of learning.</h5>
                        <p class="mt-2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </main>