@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    font-family: "Poppins", sans-serif;
}

.blog-post {
    color: black;
    font-size: 16px;
}

.blog-post h6 {
    font-weight: bold;
}

.blog-post h5 {
    font-weight: bold;
}

.blog-post p {
    color: grey;
    font-size: 14px;
}

.blog-post span {
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.top-right {
    position: absolute;
    top: 12px;
    right: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.image-post{
    position: relative;
}

.blog-creator img{
    width: 32px;
    height: 32px;
}

.blog-creator span{
    display: inline-block;
    margin-left: 6px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.dot{
    position: relative;
    top: -2px;
    font-size: 36px !important;
    color: #999 !important;
}